# Internal service environment
INTERNAL_API_URL=http://localhost:3003
SEARCH_SERVICE_URL=http://localhost:3005
ORDER_SERVICE_URL=http://localhost:3003
USER_SERVICE_URL=http://localhost:3001
PAYMENT_SERVICE_URL=http://localhost:3007
ADS_SERVICE_URL=http://localhost:3012
ADMIN_SERVICE_URL=http://localhost:3011
LIVE_SERVICE_URL=http://localhost:3006

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_this_in_production_use_openssl_rand_base64_32

# Internal service-to-service auth token (admin-service access)
INTERNAL_SERVICE_TOKEN=internal_dev_token_change_in_prod

# Public (exposed to browser)
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=HyperCommerce
NEXT_PUBLIC_LIVE_SERVICE_WS=ws://localhost:3006
